/* .btn-white {
  background-color: white;
  padding: 10px 30px;
  border: 3px solid #d8b08c;
  border-radius: 10px;
  color: #d8b08c;
  text-decoration: none;
} */

.btn-flip{
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}


.btn-flip:hover:after{
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before{
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after{
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: darkslategray;
  font-weight: bolder;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #61b8c1;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before{
  top: 0;
  left: 0;
  opacity: 1;
  color: white;
  border-radius: 2px;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #0d5056;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
