.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px rgb(185 181 181);
  background-color: white;
}

.card img{
  height: 100px;
  margin-top: 10px;

}

